<!DOCTYPE html>
<html>
<head>
    
</head>
<body>
    <div class="dropdown-menu">
        <ul class="nav" id="side-menu">
            <li>
                <a href="index.cshtml" class=" hvr-bounce-to-right"><i class="fa fa-dashboard nav_icon "></i><span class="nav-label">Dashboards</span> </a>
            </li>
        </ul>
    </div>
    <div class="content-main">
        @RenderBody()
    </div>
</body>
</html>
